[user]
  name = thuang323
  email = taylorhuang0323@gmail.com
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
